*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    height: 2000px;
}

.container {
    padding: 0px;
}

/* =====common====== */

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    /* add more */
}

button:hover {
    cursor: pointer;
}

/* ====layout===== */

.card-item {
    border: 1px dashed orangered;
    padding: 12px;
}

.inner {
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;

    font-size: 1.6rem;
    font-weight: 800;

    margin-top: 40px;
}
